body {
    margin: 0;
    background-image: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.8) 50%, black 100%);

}
/* #region header */
header {
    width: 100%;
    text-align: center;
}
header > h1 {
    margin: 0;
    padding: 10px;
    color: #20c20e;
    text-shadow: 2px 2px #20c20e38;
    font-weight: 900;
}
header > h1 > hr {
     border: 0; 
     height: 1px; 
     background-image: linear-gradient(to right, #20c20e17, #20c20ed2, #20c20e17);
}
/* #endregion header */

.container {
    display: grid;
    width: 1200px;
    grid-template-columns: 45% 45%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    grid-gap: 20px;
}

/* #region .homeworks and in-class */
.homeworks,
.in-class {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.089);
    /* background-image: linear-gradient(45deg,rgba(128, 128, 128, 0.5), grey,rgba(128, 128, 128, 0.5)); */
}
.in-class {
    grid-template-rows: 20% 40% 40%;
}
.homeworks > div,
.in-class > div{
    padding: 3px;
    color: #20c20e;
}
.homeworks > div > h2,
.in-class > div > h2 {
    grid-column: -1 / 1;
    height: 30px;
    text-align: center;
    color: #20c20e;
    font-weight: 700;
    text-shadow: 2px 2px #20c20e54;
}
.panel > li {
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: -30px;
    border-radius: 6px;
    padding-left: 5px;
    transition: 0.3s;
}
.panel > li > a {
    display: block;
    text-decoration: none;
    color: rgba(172, 255, 47, 0.904);
    font-size: 16px;
}
.hw {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
}
/* #endregion .homeworks and in-class */

/* #region hovers */
.homeworks,
.in-class,
.hw,
.months{
    transition: 0.3s;
}
.homeworks:hover,
.in-class:hover {
    /* background-image: linear-gradient(45deg,rgba(128, 128, 128, 1), rgba(255, 255, 255, 0.7),rgba(128, 128, 128, 1)); */
    background-color: rgba(255, 255, 255, 0.2);
}
.hw:hover,
.months:hover {
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 4px;
    /* padding: 5px; */
}
.panel > li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px;
}
/* #endregion hovers */



